img{

    width: 70px;
    height: 70px;
 text-align: center;
}
ul li{
    color: gray;
    justify-content: space-around;
    display: inline;
}
li{

    height: 30px;
    border-color: rgb(24, 37, 176);
    width: 30px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
li a{

    background-color: aqua;
}
a{
    background-color: gray;
    display: flex;
}

li a{

    color: rgb(129, 20, 20);
    text-align: center;
     font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li a{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
a img{
    text-decoration: none;

}
